@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 222.2 84% 4.9%; /* Black */

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 84% 4.9%; /* Black */
    --primary-foreground: 0 0% 98%; /* White */

    --secondary: 0 0% 96.1%; /* Light Gray */
    --secondary-foreground: 222.2 47.4% 11.2%;
    
    --muted: 0 0% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0 0% 96.1%; /* Light Gray */
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 222.2 84% 4.9%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%; /* Black */
    --foreground: 0 0% 98%; /* White */

    --card: 222.2 84% 4.9%;
    --card-foreground: 0 0% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%; /* White */
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%; /* Dark Gray */
    --secondary-foreground: 0 0% 98%;
    
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%; /* Dark Gray */
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 0 0% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-wide;
  }
}
