
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 140 60% 98%; /* Very light green-white */
    --foreground: 140 10% 10%; /* Dark green-charcoal */

    --card: 140 60% 98%;
    --card-foreground: 140 10% 10%;

    --popover: 140 60% 98%;
    --popover-foreground: 140 10% 10%;

    --primary: 150 50% 30%; /* Deep Green */
    --primary-foreground: 150 20% 98%;

    --secondary: 150 15% 94%;
    --secondary-foreground: 150 10% 20%;
    
    --muted: 150 15% 94%;
    --muted-foreground: 150 10% 40%;

    --accent: 150 15% 90%;
    --accent-foreground: 150 10% 15%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 150 15% 88%;
    --input: 150 15% 88%;
    --ring: 150 50% 30%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 140 10% 10%;
    --foreground: 140 20% 94%;

    --card: 140 10% 10%;
    --card-foreground: 140 20% 94%;

    --popover: 140 10% 8%;
    --popover-foreground: 140 20% 94%;

    --primary: 150 50% 45%; /* Brighter Green for dark mode */
    --primary-foreground: 150 20% 98%;

    --secondary: 150 10% 15%;
    --secondary-foreground: 140 20% 94%;
    
    --muted: 150 10% 15%;
    --muted-foreground: 140 15% 60%;

    --accent: 150 10% 15%;
    --accent-foreground: 140 20% 94%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 150 10% 20%;
    --input: 150 10% 20%;
    --ring: 150 50% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
     background-image: radial-gradient(hsl(var(--foreground) / 0.03) 1px, transparent 1px);
    background-size: 16px 16px;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-wide;
  }
}


/* Embla Carousel Fade Animation */
.embla__slide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.embla__slide.is-selected {
  opacity: 1;
}
