
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(var(--background));
}

@layer base {
  :root {
    --background: 30 50% 98%; /* Light warm off-white */
    --foreground: 20 14.3% 4.1%; /* Dark Charcoal */

    --card: 30 50% 98%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 30 50% 98%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 347 77% 39%; /* Royal Burgundy */
    --primary-foreground: 30 50% 98%;

    --secondary: 30 5.9% 90%;
    --secondary-foreground: 20 14.3% 4.1%;
    
    --muted: 30 5.9% 90%;
    --muted-foreground: 20 8% 40%;

    --accent: 30 5.9% 90%;
    --accent-foreground: 20 14.3% 4.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 30 50% 98%;

    --border: 30 5.9% 90%;
    --input: 30 5.9% 90%;
    --ring: 347 77% 39%;
    
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 30 50% 98%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 30 50% 98%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 30 50% 98%;

    --primary: 347 77% 55%; /* Brighter Burgundy for dark mode */
    --primary-foreground: 20 14.3% 4.1%;

    --secondary: 20 10% 10%;
    --secondary-foreground: 30 50% 98%;
    
    --muted: 20 10% 10%;
    --muted-foreground: 20 5% 64%;

    --accent: 20 10% 10%;
    --accent-foreground: 30 50% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 50% 98%;

    --border: 20 10% 10%;
    --input: 20 10% 10%;
    --ring: 347 77% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline tracking-wide;
  }
}


/* Embla Carousel Fade Animation */
.embla__slide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.embla__slide.is-selected {
  opacity: 1;
}

